<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <h1>Todos</h1>
      <div *ngIf="todoState$ | async as todoState; else initalizing">
        <ul class="list-group">
          <li
            *ngFor="let todo of todoState.todos; let i = index"
            class="list-group-item todo"
            [ngClass]="{ done: todo.done }"
          >
            <div class="row justify-content-between">
              <div class="col-4">
                <span class="name">{{ todo.name }}</span>
              </div>
              <div class="col-4">
                <button
                  *ngIf="!todo.done"
                  type="button"
                  class="btn btn-outline-secondary btn-sm float-right"
                  (click)="complete(i)"
                >
                  <span class="sr-only">Done</span>
                  ✔️
                </button>
              </div>
            </div>
          </li>
        </ul>
        <div class="alert alert-danger" role="alert" *ngIf="todoState.error">
          <h4 class="alert-heading">Oh no!</h4>
          <p>{{ todoState.error }}</p>
        </div>
      </div>
      <ng-template #initalizing>
        <div class="d-flex justify-content-center">
          <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
